<div class="border dark:border-gray-700 dark:bg-gray-800 bg-white rounded-xl p-2 shadow-md">

    <!-- Button (Add subroup)-->
    <button [attr.data-modal-target]="'group-modal-' + this.node?.gid" [attr.data-modal-toggle]="'group-modal-' + this.node?.gid" type="button" class="dark:text-white text-gray-900 float-right mt-2" data-tooltip-target="tooltip-addgroup">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
    </button>

    <!-- Button (Delete group) -->
    <button (click)="delete_node()" type="button" class="dark:text-white text-gray-900 float-right mt-2 mr-2" data-tooltip-target="tooltip-delgroup">
        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
        </svg>
    </button>
    
    <!-- Tooltip for add subgroup Button -->
    <div id="tooltip-addgroup" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Add a new Subgroup
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <!-- Tooltip for Delete Button -->
    <div id="tooltip-delgroup" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Delete this Group
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <!-- Tooltip for each group -->
    <div [attr.id]="'tooltip-group-' + this.node?.gid" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        {{this.node?.name}}, GID: {{this.node?.gid}}
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <h5 class="mb-2 text-xl font-bold tracking-tight"><span [attr.data-tooltip-target]="'tooltip-group-' + this.node?.gid" class="text-transparent bg-clip-text bg-gradient-to-r to-fuchsia-600 from-orange-400">{{node?.name}}</span></h5>
    <p class="mb-2 text-gray-500 dark:text-gray-400" *ngIf="node?.children?.length == 0">This group has no subgroups.</p>
    <div class="p-2" *ngIf="node?.children?.length != 0" id="accordion-collapse" data-accordion="collapse">
        <h2 id="accordion-collapse-heading-{{node?.gid}}">
            <button type="button" class="flex p-2 items-center justify-between w-full font-medium text-left text-gray-500 border border-gray-400 rounded-xl focus:rounded-t-xl focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400" [attr.data-accordion-target]="'#accordion-collapse-body-' + node?.gid" [attr.aria-expanded]="node?.gid == 0 ? 'true' : 'false'">
                <span>Subgroups</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-{{node?.gid}}" class="hidden">
            <div class="border p-3 pb-0 border-gray-200 border-b-xl border-t-0 dark:border-gray-700 rounded-xl">
                <div *ngFor="let node of node?.children">
                    <app-tree-node [node]="node"></app-tree-node>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Create group modal -->
<div [attr.id]="'group-modal-' + this.node?.gid" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-start justify-between p-4 rounded-t dark:border-gray-600 bg-gray-100 dark:bg-gray-700">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Create a subgroup for {{this.node?.name}} ({{this.node?.gid}})
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" [attr.data-modal-hide]="'group-modal-' + this.node?.gid">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <!-- Modal body: User creation Form -->
            <div class="dark:bg-gray-800">

                <!-- Form -->
                <form #f="ngForm" novalidate>
                    <div class="pt-6 px-3 space-y-6">
                        <div class="mb-6">
                            <label for="groupname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Groupname</label>
                            <input name="groupname" type="groupname" id="groupname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ngModel required>
                        </div>
                    </div>

                    <!-- Create User button -->
                    <div class="p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <div class="grid place-items-end">
                            <button (click)="add_node(f)" *ngIf="f.valid" [attr.data-modal-hide]="'group-modal-' + this.node?.gid" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Group</button>
                            <button *ngIf="!f.valid" type="button" class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>Create Group</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>