<h4 class="inline-block mb-4 text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r to-fuchsia-600 from-orange-400">Overview</h4>


<div class="lg:grid grid-cols-3 gap-4 content-evenly">
    <div class="max-w-md w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mb-4">
        <div class="flex justify-between">
            <div>
                <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">CPU<br>Usage</h5>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">8 cores (Apple M1)</p>
            </div>
            <div class="flex items-center px-2.5 py-0.5 text-lg font-semibold text-green-500 dark:text-green-500 text-center">
                45%
            </div>
        </div>
    </div>
    
    <div class="max-w-md w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mb-4">
        <div class="flex justify-between">
            <div>
                <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Memory usage</h5>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">7.6GB in use</p>
            </div>
            <div class="flex items-center px-2.5 py-0.5 text-lg font-semibold text-green-500 dark:text-green-500 text-center">
                30%
            </div>
        </div>
    </div>
    
    <div class="max-w-md w-full bg-white rounded shadow dark:bg-gray-800 p-4 md:p-6 mb-4">
        <div class="flex justify-between">
            <div>
                <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Network traffic</h5>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">7.6GB used</p>
            </div>
            <div class="flex items-center px-2.5 py-0.5 text-lg font-semibold text-green-500 dark:text-green-500 text-center md:content-around">
                6d/1u
            </div>
        </div>
    </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Component
                </th>
                <th scope="col" class="px-6 py-3">
                    Version
                </th>
                <th scope="col" class="px-6 py-3">
                    Codename
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Velocity
                </th>
                <td class="px-6 py-4">
                    0.1
                </td>
                <td class="px-6 py-4">
                    Xen Catalyst
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Hyper
                </th>
                <td class="px-6 py-4">
                    0.1
                </td>
                <td class="px-6 py-4">
                    The Northern Star
                </td>
            </tr>
        </tbody>
    </table>
</div>