<!-- Heading -->
<h4 class="inline-block mb-4 text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r to-fuchsia-600 from-orange-400">Users</h4>
<app-modalbutton bstyle="button" uid="create-user" class="mr-2 mb-2 float-right" text="Add a new User"></app-modalbutton>

<!-- User table -->
<div class="relative overflow-x-auto shadow-md rounded-lg my-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    UID
                </th>
                <th scope="col" class="px-6 py-3">
                    User name
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{user.uid}}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.name}}
                </th>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>&nbsp;
                    <button (click)="delete_user(user.uid)"class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</button>&nbsp;
                    <app-modalbutton uid="permissions-user-{{user.uid}}" bstyle="link" text="Groups"></app-modalbutton>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-createuser (user_created)="update_list()"></app-createuser>
<app-groupedit [users]="users"></app-groupedit>


