
<h4 class="inline-block mb-4 text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r to-fuchsia-600 from-orange-400">Groups</h4>


<div class="dark:border-gray-700 dark:bg-gray-800 bg-white shadow-md pb-1 rounded-lg">
    
    <table class="w-full rounded-t-lg text-sm text-left text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400 pb-1">

        <thead class="text-xs">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Group
                </th>
                <th scope="col" class="px-6 py-3 float-right">
                    Actions
                </th>
            </tr>
        </thead>
    </table>


    <div class="pr-2">
        <app-groupnode [group]="root_group" (tree_update)="fetch()"></app-groupnode>
    </div>
</div>


